{% assign product_found = false %}
{% assign skip = false %}
{% assign collection_group = products | map: 'id' %}
{% assign collection_group_thumb = collection_group | append : 'thumb' %}


<!--Brands carousel-->
<div class="container" itemtype="http://schema.org/ItemList">
  <div class="fourteen columns brands-carousel">
    <div class="brands-inner">
      <div class="owl-carousel-brands">
        {% for product in products limit: limit %}
          {% include 'mw_PO_continue' with product %}
            {% if product.id == skip_product.id or skip == true %}
              {% assign product_found = true %}
            {% else %}
              {% if forloop.rindex0 == 0 and product_found == false and forloop.length != products.count and template != 'search' %}
                {% assign skip = true %}
              {% else %}

        		<div class='owl-item'>
                	{% include 'product-carosal' with product-loop %}
        		</div>  

                {% if products_per_row == "2" %}
                  {% cycle collection_group: '', new_row %}
                {% elsif products_per_row == "3" %}
                  {% cycle collection_group: '', '', new_row %}    
                {% elsif products_per_row == "4" %}  
                  {% cycle collection_group: '', '', '', new_row %}
                {% endif %}
              {% endif %}    
            {% endif %}
          {% endfor %}
        
      </div>
    </div> 
  </div> 
</div>   

