/* PageFly Element Styles */
						.fKltnh__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.fKltnh { padding: 15px 0px; position: relative; }
.fKltnh .sc-drMfKT { position: relative; }
.fKltnh[data-container="true"] .sc-drMfKT { padding: 0px 15px; width: 100%; margin: auto; }
.fKltnh .pf-parallax__img { text-indent: -10000px; position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.bthysn { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bthysn { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bthysn { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .bthysn { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.cZcEAd { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .cZcEAd { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cZcEAd { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .cZcEAd { padding: var(--pf-s-xs); }
}
.gbyClD { position: relative; }
.jBtkMg { position: relative; }
.iSrdJR { word-break: break-word; }
.iSrdJR span { font-weight: inherit; }
.iSrdJR i { margin-right: 0.3em; }
.gpALgc { font-family: FontAwesome !important; }
.lepPmi { display: inline-block; }
.lepPmi[contenteditable="true"] { user-select: text; }
.lepPmi { vertical-align: baseline; word-break: break-word; }
.lepPmi:focus { outline: none; }
.lepPmi::after { display: inline; }
.jUjtGd { display: inline-flex; vertical-align: middle; }
.jUjtGd picture { width: 100%; }
.gTPHAJ { overflow: hidden; display: inline-flex; -webkit-box-pack: start; justify-content: flex-start; align-items: flex-start; vertical-align: middle; max-width: 100%; }
.gTPHAJ img { display: inline-block; object-fit: cover; max-width: 100%; max-height: 100%; height: auto; text-align: center; width: 100%; vertical-align: middle; position: unset; }
.iIsUGi { margin: 0px -15px; }
.iIsUGi .pf-blm { margin: 30px auto 0px; flex-basis: 100%; text-align: center; }
.iIsUGi .pf-bpa { flex-basis: 100%; text-align: center; display: flex; -webkit-box-pack: center; justify-content: center; margin-top: 30px; }
.iIsUGi .pf-bpa a { cursor: pointer; padding: 2px 10px; margin: 2px; border: 1px solid transparent; border-radius: 2px; position: relative; }
.iIsUGi .pf-bpa a.currentPage { border-color: rgba(0, 0, 0, 0.1); pointer-events: none; }
.iIsUGi .pf__shopify-product { width: 100%; text-align: center; }
.iIsUGi .pf-c { padding: 15px; display: flex; }
.iIsUGi .product__thumbnail { display: -webkit-flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; max-width: 100%; position: relative; }
.iIsUGi .product__thumbnail img { vertical-align: middle; max-width: 100%; height: auto; }
.iIsUGi .product__thumbnail .pf-placeholder-svg { fill: rgb(166, 166, 166); background-color: rgb(245, 245, 245); width: 100%; max-width: 100%; max-height: 100%; border-radius: inherit; }
.iIsUGi .product__button > a { display: block; padding: 0px 20px; line-height: 36px; height: 36px; background: rgb(85, 193, 72); margin-top: 10px; color: rgb(255, 255, 255); text-align: center; text-decoration: none; }
.iIsUGi .product__button > a:hover { opacity: 0.7; color: rgb(255, 255, 255); }
.iIsUGi .product__button span { pointer-events: none; }
.iIsUGi .product__info-price { margin-top: 10px; font-size: 13px; color: rgb(208, 2, 27); }
.iIsUGi .product__sale-price { margin-left: 10px; color: rgb(54, 54, 54); font-size: 0.8em; }
.iIsUGi .product__info-title { margin: 10px 0px 0px; font-size: 16px; font-weight: 500; line-height: 1.5; text-transform: none; font-family: inherit; color: rgb(45, 45, 45); }
.iIsUGi .product__info-title a { color: rgb(27, 28, 29); text-decoration: none; }
.iIsUGi .shopify__product-vertical, .iIsUGi .shopify__product-vertical .product__info { display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-flow: column; }
.iIsUGi .shopify__product-vertical .product__info, .iIsUGi .shopify__product-vertical .product__info-title { flex: 1 0 auto; }
.iIsUGi .shopify__product-horizontal { display: -webkit-flex; }
.iIsUGi .shopify__product-horizontal .product__thumbnail { flex: 1 1 0%; height: auto !important; }
.iIsUGi .shopify__product-horizontal .product__info { text-align: left; flex: 3 1 0%; padding-left: 15px; }
.iIsUGi .shopify__product-horizontal .product__info-title { margin-top: 0px; }
.iIsUGi .shopify__product-horizontal .product__button > a { width: auto; display: inline-block; }
.catfvM > span:last-child { line-height: inherit; display: block; }
#editor-dnd-wrapper .catfvM[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable] { display: block; }
#editor-dnd-wrapper .catfvM[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable]:empty::after { display: inline; }
.catfvM[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.catfvM[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.catfvM.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.catfvM.dropcap--circle > span:first-child { border-radius: 100%; }
.catfvM:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.catfvM ol, .catfvM ul { list-style-position: inside; }
.catfvM blockquote { font-size: inherit; }
.fABBSI { display: inline-block; line-height: 1; padding: 12px 20px; text-align: center; text-decoration: none; outline: 0px; }
.fABBSI i { margin-right: 0.3em; }
.fABBSI:hover, .fABBSI:active, .fABBSI:focus, .fABBSI span { color: inherit; text-decoration: none; }
.gThelX { display: -webkit-flex; -webkit-box-align: stretch; align-items: stretch; flex-flow: column; }
.gThelX > nav { display: flex; flex-wrap: wrap; position: relative !important; }
.gThelX > nav > a.nav-item { color: black; display: inline-block; padding: 0.5em 1em; font-weight: bold; border-width: 1px 1px 2px; text-decoration: none; border-bottom-style: solid; border-bottom-color: transparent; }
.gThelX > nav > a.nav-item > i { margin-right: 0.3em; }
@media (max-width: 768px) {
  .gThelX > nav > a.nav-item { margin-top: 5px !important; margin-bottom: 5px !important; }
}
@media (max-width: 767px) {
}
.gThelX > nav > a[data-active="true"] { border-color: inherit; }
.gThelX .sc-cBdUnI { padding: 1.5rem 0px; }
.dMdFgf { padding: 1.5rem 0px; }
.eUQMjM { visibility: hidden; }
.eUQMjM.pf-slider-wrapper { overflow: hidden; position: relative; }
.eUQMjM.pf-slider-wrapper:hover .nav-style-2, .eUQMjM.pf-slider-wrapper:hover .nav-style-4 { opacity: 1; }
.eUQMjM.pf-slider-wrapper:hover .nav-style-2.pf-prev-nav, .eUQMjM.pf-slider-wrapper:hover .nav-style-4.pf-prev-nav { left: 20px; }
.eUQMjM.pf-slider-wrapper:hover .nav-style-2.pf-next-nav, .eUQMjM.pf-slider-wrapper:hover .nav-style-4.pf-next-nav { right: 20px; }
.eUQMjM.pf-slider-wrapper:hover .nav-style-3 { opacity: 1; }
.eUQMjM.pf-slider-wrapper:hover .nav-style-3.pf-prev-nav { left: 0px; }
.eUQMjM.pf-slider-wrapper:hover .nav-style-3.pf-next-nav { right: 0px; }
.eUQMjM.pf-slider-mouse-event-off > * { pointer-events: none; }
.eUQMjM .pf-slider-inner { overflow: hidden; }
.eUQMjM .pf-slider-slide { will-change: contents; position: absolute; transform: translate3d(100%, 0px, 0px); overflow: hidden; top: 0px; }
.eUQMjM .pf-slider-nav { position: absolute; z-index: 999; cursor: pointer; border: 0px; background: transparent; top: 50%; transform: translateY(-50%); padding: 0px; transition: all 0.3s ease 0s; }
.eUQMjM .pf-slider-nav:focus { outline: 0px; }
.eUQMjM .pf-slider-nav::before { font-size: 14px; color: rgb(255, 255, 255); font-family: FontAwesome; }
.eUQMjM .pf-slider-nav.nav-style-1 { width: 40px; height: 40px; line-height: 40px; -webkit-box-pack: center; justify-content: center; background: rgba(0, 0, 0, 0.4); border-radius: 100%; }
.eUQMjM .pf-slider-nav.nav-style-1:hover { background: rgb(0, 0, 0); }
.eUQMjM .pf-slider-nav.nav-style-1.pf-prev-nav { left: 20px; }
.eUQMjM .pf-slider-nav.nav-style-1.pf-next-nav { right: 20px; }
.eUQMjM .pf-slider-nav.nav-style-2, .eUQMjM .pf-slider-nav.nav-style-4, .eUQMjM .pf-slider-nav.nav-style-5 { width: 40px; height: 40px; line-height: 40px; -webkit-box-pack: center; justify-content: center; background: rgb(3, 3, 3); border-radius: 3px; opacity: 0; }
.eUQMjM .pf-slider-nav.nav-style-2:hover, .eUQMjM .pf-slider-nav.nav-style-4:hover, .eUQMjM .pf-slider-nav.nav-style-5:hover { background: rgb(23, 23, 23); }
.eUQMjM .pf-slider-nav.nav-style-2.pf-prev-nav, .eUQMjM .pf-slider-nav.nav-style-4.pf-prev-nav, .eUQMjM .pf-slider-nav.nav-style-5.pf-prev-nav { left: 40px; }
.eUQMjM .pf-slider-nav.nav-style-2.pf-next-nav, .eUQMjM .pf-slider-nav.nav-style-4.pf-next-nav, .eUQMjM .pf-slider-nav.nav-style-5.pf-next-nav { right: 40px; }
.eUQMjM .pf-slider-nav.nav-style-3 { padding: 20px; text-shadow: rgb(0, 0, 0) 0px 0px 1px; opacity: 0; }
.eUQMjM .pf-slider-nav.nav-style-3::before { font-size: 24px; }
.eUQMjM .pf-slider-nav.nav-style-3.pf-prev-nav { left: 40px; }
.eUQMjM .pf-slider-nav.nav-style-3.pf-next-nav { right: 40px; }
.eUQMjM .pf-slider-nav.nav-style-5 { top: auto; bottom: 5%; opacity: 1; }
.eUQMjM .pf-slider-nav.nav-style-5.pf-prev-nav { right: 62px; border-radius: 3px 0px 0px 3px; }
.eUQMjM .pf-slider-nav.nav-style-5.pf-next-nav { right: 20px; border-radius: 0px 3px 3px 0px; }
.eUQMjM .pf-slider-nav-disabled { pointer-events: none; }
.eUQMjM .pf-slider-pagination { position: absolute; bottom: 15px; left: 0px; width: 100%; padding: 0px; margin: 0px; text-align: center; z-index: 1; }
.eUQMjM .pf-slider-pagination li { display: inline-block; margin: 0px 5px; background: rgb(187, 187, 187); opacity: 1; transition: all 0.3s ease 0s; cursor: pointer; }
.eUQMjM .pf-slider-pagination li.active, .eUQMjM .pf-slider-pagination li:hover { background: rgb(33, 33, 33); }
.eUQMjM .pf-slider-pagination.pagination-style-1 li { width: 20px; height: 5px; }
.eUQMjM .pf-slider-pagination.pagination-style-2 li { position: relative; width: 8px; height: 8px; background: transparent; }
.eUQMjM .pf-slider-pagination.pagination-style-2 li::after { position: absolute; content: ""; left: -2px; top: -2px; width: 12px; height: 12px; border: 1px solid rgb(33, 33, 33); border-radius: 50%; }
.eUQMjM .pf-slider-pagination.pagination-style-2 li.active { background: rgb(33, 33, 33); border-radius: 50%; }
.eUQMjM .pf-slider-pagination.pagination-style-3 li { position: relative; width: 16px; height: 16px; border: 2px solid rgb(255, 255, 255); background: transparent; border-radius: 50%; }
.eUQMjM .pf-slider-pagination.pagination-style-3 li.active::after { position: absolute; content: ""; top: 3px; left: 3px; right: 3px; bottom: 3px; width: 6px; border: 2px solid rgb(255, 255, 255); border-radius: 100%; }
.cEhjAC { margin: 0px -15px; }
.cEhjAC .pf-c { padding: 15px; }
.cEhjAC .blog__infos h3 a, .cEhjAC .blog__image a { display: block; color: rgb(27, 28, 29); text-decoration: none; font-size: 18px; line-height: 1.7em; margin: 15px 0px; }
.cEhjAC .blog__infos a { color: rgb(27, 28, 29); text-decoration: none; }
.cEhjAC .blog__image img { vertical-align: middle; width: 100%; }
.cEhjAC .article--horizontal { display: -webkit-flex; }
.cEhjAC .article--horizontal h3 { margin: 0px 0px 10px; }
.cEhjAC .article--horizontal .blog__infos { text-align: left; flex: 3 1 0%; padding-left: 15px; }
.cEhjAC .article--horizontal .blog__image { flex: 1 1 0%; }
.cEhjAC .blog__infos h3 { font-size: 18px; line-height: 1.7em; margin: 15px 0px; }
.cEhjAC .blog__metas { margin-bottom: 12px; font-size: 12px; }
.cEhjAC .blog__metas span + span { margin-left: 10px; }
.cEhjAC .blog__image.back { position: relative; overflow: hidden; max-width: 100%; max-height: 350px !important; }
.cEhjAC .pf-placeholder-svg { fill: rgb(166, 166, 166); background-color: rgb(245, 245, 245); width: 100%; max-width: 100%; max-height: 100%; border: 1px solid rgba(102, 102, 102, 0.2); border-radius: inherit; }
.iKKXtq { grid-gap: var(--pf-s-lg); display: grid; }
@media (max-width: 1199px) and (min-width: 992px) {
  .iKKXtq { grid-gap: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .iKKXtq { grid-gap: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .iKKXtq { grid-gap: var(--pf-s-xs); }
}
.iKKXtq a { display: block; }
.iKKXtq img { height: auto; width: 100%; }
.iKKXtq .pf-c { }
.dcMFht { margin: 0px; }
.dcMFht > div { display: flex; position: relative; }
.dcMFht.mailchimp--vertical div { -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; }
.dcMFht input[name="name"] ~ input[name="email"] { margin-left: 10px; }
.dcMFht.mailchimp--vertical input:first-of-type + input { margin: 10px 0px 0px; }
.dcMFht.mailchimp--vertical button { width: 100%; margin-top: 10px; }
.dcMFht input, .dcMFht button { height: 40px; padding: 0px 20px; line-height: 40px; border-radius: 0px; box-sizing: border-box; box-shadow: none !important; outline: none !important; }
.dcMFht.dcMFht button { border: none; background-color: rgb(45, 45, 45); color: rgb(255, 255, 255); font-size: 13px; flex: 0 0 auto; margin-left: -1px; width: auto; }
.dcMFht button > i + span { margin-left: 10px; }
.dcMFht input { width: 100%; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-1a224cf0 {
		font-size: 1.4em;
	}
	.__pf .pf-60eabd8a {
		background-color: rgb(245, 166, 35);
		 padding: 20px;
		 margin-bottom: 0px;
		 color: rgb(255, 255, 255);
		 margin-top: 0px;
		 font-size: 14px;
		 font-family: Lato;
		 font-weight: 700;
	}
	.__pf .pf-c524dc3d {
		display: inline-block;
		 color: rgb(54, 54, 54);
		 font-family: Lato;
		 font-size: 14px;
		 font-weight: 700;
		 margin-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-8b1caa65 {
		border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgba(0, 0, 0, 0.1);
		 padding: 10px 15px;
		 text-align: left;
	}
	.__pf .pf-9219dedd {
		color: rgb(54, 54, 54);
		 font-family: Lato;
		 font-size: 14px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 text-align: center;
	}
	.__pf .pf-606b51bf {
		border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgba(0, 0, 0, 0.1);
		 padding: 10px 15px;
		 display: flex;
		 align-items: center;
		 text-align: center;
	}
	.__pf .pf-44fd29fb {
		color: rgb(54, 54, 54);
		 font-family: Lato;
		 font-size: 14px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 text-align: center;
	}
	.__pf .pf-d0bcc3e6 {
		border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgba(0, 0, 0, 0.1);
		 padding: 10px 15px;
		 display: flex;
		 align-items: center;
		 text-align: center;
	}
	.__pf .pf-12d3d822 {
		display: inline-block;
		 color: rgb(54, 54, 54);
		 font-family: Lato;
		 font-size: 14px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-73e9a964 {
		border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgba(0, 0, 0, 0.1);
		 padding: 10px 15px;
		 text-align: left;
	}
	.__pf .pf-c3fd6b58 {
		display: inline-block;
		 color: rgb(54, 54, 54);
		 font-family: Lato;
		 font-size: 14px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-064efb4a {
		border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgba(0, 0, 0, 0.1);
		 padding: 10px 15px;
		 text-align: left;
	}
	.__pf .pf-9013568c {
		display: inline-block;
		 color: rgb(54, 54, 54);
		 font-family: Lato;
		 font-size: 14px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-22fb9971 {
		border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgba(0, 0, 0, 0.1);
		 padding: 10px 15px;
		 text-align: left;
	}
	.__pf .pf-cb426128 {
		display: inline-block;
		 color: rgb(54, 54, 54);
		 font-family: Lato;
		 font-size: 14px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-07689eb1 {
		border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgba(0, 0, 0, 0.1);
		 padding: 10px 15px;
	}
	.__pf .pf-5b12ea82 {
		font-family: Lato;
		 font-size: 26px;
		 color: rgb(255, 255, 255);
		 line-height: 1.5;
		 background-color: rgba(0, 0, 0, 0.6);
		 margin-bottom: 0px;
		 margin-top: 2px;
		 font-weight: 400;
		 text-transform: capitalize;
	}
	.__pf .pf-659aa671 {
		font-family: Lato;
		 font-size: 26px;
		 color: rgb(255, 255, 255);
		 line-height: 1.5;
		 background-color: rgba(0, 0, 0, 0.6);
		 margin-bottom: 0px;
		 margin-top: 0px;
		 font-weight: 400;
		 text-transform: capitalize;
	}
	.__pf .pf-068cd7fb {
		padding: 20px 150px 200px;
		 text-align: center;
		 background-size: cover;
		 background-position: 50% 100%;
		 background-attachment: local;
		 background-repeat: repeat-x;
		 background-image: url("https://cdn.shopify.com/s/files/1/0566/2453/t/49/assets/pf-c69fdcc3-570f-4f74-b26d-dcca99e82c61--MCFCTrackside1.jpg?2803");
		 text-transform: capitalize;
	}
	.__pf .pf-3809f3bf {
		padding-top: 30px;
		 background-color: rgba(155, 155, 155, 0.2);
	}
	.__pf .pf-64b12e54 {
		font-family: Lato;
		 font-size: 24px;
		 font-weight: 400;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 background-color: rgba(0, 0, 0, 0.6);
		 color: rgb(255, 255, 255);
		 padding-left: 15px;
		 background-position: 50% 50%;
		 background-size: contain;
		 background-repeat: no-repeat;
	}
	.__pf .pf-deae31a3 {
		padding: 250px 30px 40px;
		 background-size: contain;
		 border-style: solid;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 min-height: 300px;
		 background-position: 50% 50%;
		 background-attachment: scroll;
		 background-repeat: no-repeat;
		 background-color: rgb(255, 255, 255);
		 background-image: url("https://cdn.shopify.com/s/files/1/0566/2453/t/47/assets/pf-cde55db4-c645-4dc7-80e2-ae11d129e39d--calflameoutdoorfireplacesfrp9083.jpg?2127");
	}
	.__pf .pf-1515be7b {
		font-family: Lato;
		 font-size: 24px;
		 font-weight: 400;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(255, 255, 255);
		 text-align: left;
		 background-color: rgba(0, 0, 0, 0.6);
		 padding-left: 15px;
	}
	.__pf .pf-080d45e9 {
		padding: 250px 30px 40px;
		 background-size: contain;
		 border-style: solid;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 background-position: 50% 50%;
		 background-repeat: no-repeat;
		 background-image: url("https://cdn.shopify.com/s/files/1/0566/2453/t/47/assets/pf-a99bd432-4313-4e3a-a6a4-fb2dc161400c--MUSK2BZSquareProdstrembrstzwindscreenflames800px.png?2135");
	}
	.__pf .pf-0b27a0cc {
		font-family: Lato;
		 font-size: 24px;
		 font-weight: 400;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 display: block;
		 color: rgb(255, 255, 255);
		 background-color: rgba(0, 0, 0, 0.5);
		 padding-left: 15px;
		 margin-left: 0px;
	}
	.__pf .pf-7c30ccc9 {
		padding: 250px 30px 40px;
		 background-size: contain;
		 border-style: solid;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 background-position: 50% 50%;
		 background-repeat: no-repeat;
		 background-image: url("https://cdn.shopify.com/s/files/1/0566/2453/t/47/assets/pf-d673655d-b609-417c-875f-7982a3398131--Galaxy48GSS48ProdStrGlassBeadsTtrimflames800px.png?2139");
	}
	.__pf .pf-cd935708 {
		width: 200px;
		 padding: 10px;
		 height: auto;
	}
	.__pf .pf-7b48e1ca {
		border-style: none;
		 border-color: rgb(155, 155, 155);
		 border-top-width: 1px;
		 border-bottom-width: 1px;
	}
	.__pf .pf-b5670a10 {
		width: 200px;
		 padding: 10px;
		 height: auto;
	}
	.__pf .pf-687845a2 {
		border-style: none;
		 border-color: rgb(155, 155, 155);
		 border-top-width: 1px;
		 border-bottom-width: 1px;
	}
	.__pf .pf-1d64bb01 {
		padding: 10px;
		 width: 200px;
		 height: auto;
		 border-style: none;
	}
	.__pf .pf-1de89385 {
		border-style: none;
		 border-color: rgb(155, 155, 155);
		 border-top-width: 1px;
		 border-bottom-width: 1px;
	}
	.__pf .pf-b3b0acac {
		border-style: none;
		 border-color: rgb(155, 155, 155);
		 border-top-width: 1px;
		 border-bottom-width: 1px;
	}
	.__pf .pf-2966d69d {
		border-style: none;
	}
	.__pf .pf-1b1c7162 {
		border-style: none;
		 border-color: rgb(155, 155, 155);
		 border-top-width: 1px;
		 border-bottom-width: 1px;
	}
	.__pf .pf-ce777527 {
		border-radius: 1px;
		 border-style: solid;
		 border-top-width: 2px;
		 border-bottom-width: 2px;
		 border-color: rgba(0, 0, 0, 0.1);
	}
	.__pf .pf-fa27b2f6 {
		font-family: Lato;
		 font-size: 20px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 15px;
	}
	.__pf .pf-8ef36054 > .pf-c > div > div > h3 > a {
		font-family: Lato;
		 font-size: 16px;
		 color: rgb(66, 66, 66);
	}
	.__pf .pf-8ef36054 > .pf-c > div {
		font-family: Lato;
		 font-weight: 700;
	}
	.__pf .pf-8ef36054 > .pf-c > div > div > div > .product__button {
		background-color: rgb(255, 255, 255);
		 color: rgb(119, 119, 119);
		 border-style: solid;
		 border-width: 1px;
		 border-color: rgb(235, 235, 235);
	}
	.__pf .pf-0ead5ffa {
		padding-top: 40px;
	}
	.__pf .pf-13dd9699 {
		font-size: 2.5em;
		 background-color: rgb(245, 166, 35);
		 border-color: rgb(245, 245, 245);
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-0f18a035 {
		margin-top: 0px;
		 color: rgb(54, 54, 54);
		 font-family: Lato;
		 font-size: 18px;
		 font-weight: 700;
		 margin-bottom: 10px;
	}
	.__pf .pf-392d681e {
		font-family: Lato;
		 font-weight: 400;
		 font-size: 14px;
		 color: rgb(137, 137, 137);
		 line-height: 1.5;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-0d9d96cb {
		margin-left: 10px;
	}
	.__pf .pf-126c8a58 {
		padding: 10px;
	}
	.__pf .pf-bf4ff95b {
		font-size: 2.5em;
		 background-color: rgb(245, 166, 35);
		 border-color: rgb(245, 245, 245);
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-0f0885a7 {
		margin-top: 0px;
		 margin-bottom: 10px;
		 color: rgb(54, 54, 54);
		 font-family: Lato;
		 font-size: 18px;
		 font-weight: 700;
	}
	.__pf .pf-d549f7cc {
		font-family: Lato;
		 font-weight: 400;
		 font-size: 14px;
		 color: rgb(137, 137, 137);
		 line-height: 1.5;
		 margin-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-e683cbf7 {
		margin-left: 10px;
	}
	.__pf .pf-55eb87ed {
		padding: 10px;
	}
	.__pf .pf-6fefe4e7 {
		font-size: 2.5em;
		 background-color: rgb(245, 166, 35);
		 border-color: rgb(245, 245, 245);
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-00bc07a9 {
		margin-bottom: 10px;
		 color: rgb(54, 54, 54);
		 font-family: Lato;
		 font-size: 18px;
		 font-weight: 700;
		 margin-top: 0px;
	}
	.__pf .pf-c0fc72ae {
		font-family: Lato;
		 font-weight: 400;
		 font-size: 14px;
		 color: rgb(137, 137, 137);
		 line-height: 1.5;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-873e8800 {
		margin-left: 10px;
	}
	.__pf .pf-39c92c73 {
		padding: 10px;
	}
	.__pf .pf-7b498c88 {
		border-style: solid;
		 border-width: 1px 0px;
		 border-color: rgba(0, 0, 0, 0.1);
	}
	.__pf .pf-b702c365 {
		justify-content: center;
		 align-items: center;
	}
	.__pf .pf-8d9b1a57 {
		width: 300px;
	}
	.__pf .pf-b750b445 {
		border-style: solid;
		 border-width: 1px 0px;
		 padding-top: 30px;
		 padding-bottom: 30px;
		 border-color: rgba(0, 0, 0, 0.1);
		 text-align: center;
	}
	.__pf .pf-09c67f8f {
		font-family: Lato;
		 font-size: 20px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 15px;
	}
	.__pf .pf-0972a33f > .pf-c > div > div > h3 > a {
		font-family: Lato;
		 font-size: 16px;
		 color: rgb(66, 66, 66);
	}
	.__pf .pf-0972a33f > .pf-c > div {
		font-family: Lato;
		 font-weight: 700;
	}
	.__pf .pf-0972a33f > .pf-c > div > div > div > .product__button {
		background-color: rgb(255, 255, 255);
		 color: rgb(119, 119, 119);
		 border-style: solid;
		 border-width: 1px;
		 border-color: rgb(235, 235, 235);
	}
	.__pf .pf-71ef8f3f {
		font-family: Lato;
		 font-weight: 400;
		 font-size: 24px;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 margin-top: 0px;
		 text-align: right;
		 background-color: rgba(0, 0, 0, 0.5);
		 padding-right: 10px;
		 line-height: 27px;
		 background-position: 50% 50%;
	}
	.__pf .pf-997af616 {
		padding: 20px 40px 40px;
		 background-size: cover;
		 background-image: url("https://cdn.shopify.com/s/files/1/0566/2453/t/49/assets/pf-61cd6b9b-2d2c-4150-82ea-c4c9aceb1e8c--carolroseoutdoor60lineargasfireplace1.jpg?2163");
		 background-color: rgba(255, 255, 255, 0);
		 background-position: 50% 50%;
		 color: rgb(255, 255, 255);
		 text-align: center;
	}
	.__pf .pf-f079b59d {
		font-family: Lato;
		 font-weight: 400;
		 font-size: 24px;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 margin-top: 0px;
		 text-align: right;
		 background-color: rgba(0, 0, 0, 0.5);
		 padding-right: 10px;
		 line-height: 27px;
		 background-position: 50% 50%;
	}
	.__pf .pf-8eab9df1 {
		font-family: Lato;
		 font-weight: 700;
		 font-size: 18px;
		 color: rgb(245, 166, 35);
		 margin-bottom: 0px;
		 margin-top: 0px;
		 border-style: solid;
		 border-width: 0px 0px 0px 1px;
		 border-color: rgb(255, 255, 255);
		 padding-left: 20px;
		 line-height: 1.5;
		 text-align: right;
	}
	.__pf .pf-8e3c6261 {
		font-family: Lato;
		 font-size: 14px;
		 font-weight: 300;
		 text-align: center;
		 color: rgb(245, 166, 35);
		 border: 2px solid rgb(245, 166, 35);
		 background-color: rgba(255, 255, 255, 0.49);
		 display: inline-block;
	}
	.__pf .pf-d6f4c994 {
		padding-left: 190px;
		 background-size: contain;
		 padding-top: 10px;
		 padding-bottom: 10px;
		 background-position: 0% 50%;
		 background-repeat: no-repeat;
		 border-style: solid;
		 color: rgb(0, 0, 0);
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
		 text-align: center;
		 background-image: url("https://cdn.shopify.com/s/files/1/0566/2453/t/49/assets/pf-8641dfa3-c662-4f73-a0b3-9ba0451c9c9f--calflameoutdoorfireplacesfrp9083.jpg?2161");
	}
	.__pf .pf-00b0c58b {
		font-family: Lato;
		 font-size: 20px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 30px;
	}
	.__pf .pf-056a33ef > .pf-c > div > div > div > .product__button {
		color: rgb(119, 119, 119);
		 background-color: rgb(255, 255, 255);
		 border-style: solid;
		 border-color: rgb(119, 119, 119);
		 border-width: 1px;
		 font-weight: 700;
	}
	.__pf .pf-0f91f806 {
		color: rgb(245, 166, 35);
		 font-weight: 700;
	}
	.__pf .pf-04216e29 {
		font-weight: 700;
	}
	.__pf .pf-04216e29 > .pf-c > div > div > div > .product__button {
		background-color: rgb(255, 255, 255);
		 color: rgb(119, 119, 119);
		 border-style: solid;
		 border-color: rgb(119, 119, 119);
		 border-width: 1px;
	}
	.__pf .pf-e49cccf9 > .pf-c > div > div > h3 > a {
		font-size: 16px;
		 color: rgb(66, 66, 66);
		 font-family: Lato;
	}
	.__pf .pf-e49cccf9 > .pf-c > div {
		font-family: Lato;
		 font-weight: 700;
	}
	.__pf .pf-e49cccf9 > .pf-c > div > div > div > .product__button {
		background-color: rgb(255, 255, 255);
		 color: rgb(119, 119, 119);
		 border-style: solid;
		 border-width: 1px;
		 border-color: rgb(235, 235, 235);
		 font-family: Lato;
	}
	.__pf .pf-e49cccf9 {
		font-family: Lato;
	}
	.__pf .pf-3b6e6a35 {
		color: rgb(245, 166, 35);
	}
	.__pf .pf-0489ae4b {
		font-weight: 700;
	}
	.__pf .pf-0489ae4b > .pf-c > div > div > div > .product__button {
		background-color: rgb(255, 255, 255);
		 color: rgb(119, 119, 119);
		 border-style: solid;
		 border-color: rgb(155, 155, 155);
		 border-width: 1px;
	}
	.__pf .pf-100a811c {
		color: rgb(255, 255, 255);
		 background-color: rgb(255, 255, 255);
	}
	.__pf .pf-71f4e8cb > nav > a {
		font-family: Lato;
		 font-size: 12px;
		 font-weight: 400;
		 color: rgb(54, 54, 54);
	}
	.__pf .pf-71f4e8cb > nav > a[data-active="true"] {
		font-family: Lato;
		 font-size: 12px;
		 color: rgb(149, 188, 57);
		 font-weight: 400;
	}
	.__pf .pf-71f4e8cb > nav > .nav-item {
		color: rgb(74, 74, 74);
	}
	.__pf .pf-71f4e8cb {
		color: rgb(74, 74, 74);
	}
	.__pf .pf-71f4e8cb > nav > .nav-item[data-active="true"] {
		color: rgb(245, 166, 35);
		 font-size: 18px;
		 font-weight: 700;
	}
	.__pf .pf-2412f6b0 {
		padding-top: 10px;
	}
	.__pf .pf-f6d62a61 {
		padding: 10px;
	}
	.__pf .pf-c405debe {
		width: auto;
	}
	.__pf .pf-dfc2d0a3 {
		width: 100%;
		 height: 100%;
	}
	.__pf .pf-38194984 {
		width: 100%;
	}
	.__pf .pf-2bf4b718 {
		background-position: 50% 50%;
	}
	.__pf .pf-8420e69b {
		width: 100%;
		 background-position: 50% 50%;
	}
	.__pf .pf-7821e37a {
		width: 100%;
	}
	.__pf .pf-ebe3ff7b {
		height: 350px;
	}
	.__pf .pf-ebe3ff7b > button {
		background-color: rgba(0, 0, 0, 0.5);
		 opacity: 1;
	}
	.__pf .pf-ebe3ff7b > button:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-397055da {
		font-family: Lato;
		 font-size: 20px;
		 font-weight: 700;
		 margin-bottom: 25px;
		 margin-top: 0px;
	}
	.__pf .pf-cbbf074c .blog__infos > h3 > a {
		font-family: Lato;
		 font-size: 14px;
		 font-weight: 700;
	}
	.__pf .pf-cbbf074c .blog__infos > .blog__excerpt {
		font-family: Lato;
		 font-size: 14px;
		 line-height: 1.5;
		 font-weight: 400;
	}
	.__pf .pf-cbbf074c > div > .blog__article {
		font-family: Lato;
		 font-size: 10px;
		 font-weight: 400;
	}
	.__pf .pf-ee0c3cf9 {
		font-family: Lato;
		 font-size: 20px;
		 font-weight: 700;
		 margin-bottom: 25px;
		 margin-top: 0px;
	}
	.__pf .pf-137c1d48 {
		padding-top: 40px;
		 padding-bottom: 40px;
	}
	.__pf .pf-14bd3f00 {
		font-size: 24px;
		 font-family: Lato;
		 font-weight: 700;
		 letter-spacing: 4px;
		 margin-top: 0px;
		 margin-bottom: 10px;
	}
	.__pf .pf-dce05bdd {
		font-size: 14px;
		 font-family: Lato;
		 font-weight: 400;
		 color: rgb(137, 137, 137);
		 margin-top: 0px;
		 margin-bottom: 0px;
		 line-height: 1.5;
	}
	.__pf .pf-3b899543 > div > button {
		background-color: rgb(149, 188, 57);
		 font-family: Lato;
		 font-size: 12px;
		 font-weight: 400;
	}
	.__pf .pf-889e2b4b {
		padding-top: 60px;
		 padding-bottom: 60px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-068cd7fb {
		background-image: url("https://cdn.shopify.com/s/files/1/0566/2453/t/49/assets/pf-c69fdcc3-570f-4f74-b26d-dcca99e82c61--MCFCTrackside1.jpg?2803");
		 padding: 50px 0px 200px;
	}
	.__pf .pf-5b5e13e1 {
		margin-bottom: 0px;
	}
	.__pf .pf-3809f3bf {
		padding-top: 0px;
	}
	.__pf .pf-deae31a3 {
		background-image: url("https://cdn.shopify.com/s/files/1/0566/2453/t/47/assets/pf-cde55db4-c645-4dc7-80e2-ae11d129e39d--calflameoutdoorfireplacesfrp9083.jpg?2127");
	}
	.__pf .pf-080d45e9 {
		background-image: url("https://cdn.shopify.com/s/files/1/0566/2453/t/47/assets/pf-a99bd432-4313-4e3a-a6a4-fb2dc161400c--MUSK2BZSquareProdstrembrstzwindscreenflames800px.png?2135");
	}
	.__pf .pf-7c30ccc9 {
		background-image: url("https://cdn.shopify.com/s/files/1/0566/2453/t/47/assets/pf-d673655d-b609-417c-875f-7982a3398131--Galaxy48GSS48ProdStrGlassBeadsTtrimflames800px.png?2139");
	}
	.__pf .pf-ca4d154a {
		margin-bottom: 10px;
	}
	.__pf .pf-0ead5ffa {
		padding-top: 0px;
	}
	.__pf .pf-b750b445 {
		padding-bottom: 0px;
		 padding-top: 0px;
	}
	.__pf .pf-01daa366 {
		margin-bottom: 10px;
	}
	.__pf .pf-997af616 {
		background-size: cover;
		 background-repeat: no-repeat;
		 padding-left: 20px;
		 background-image: url("https://cdn.shopify.com/s/files/1/0566/2453/t/49/assets/pf-61cd6b9b-2d2c-4150-82ea-c4c9aceb1e8c--carolroseoutdoor60lineargasfireplace1.jpg?2163");
	}
	.__pf .pf-8e3c6261 {
		background-color: rgba(255, 255, 255, 0.8);
		 font-weight: 700;
	}
	.__pf .pf-abe2d8e3 {
		padding-top: 0px;
	}
	.__pf .pf-9e0f0d7e {
		text-align: right;
		 padding-right: 20px;
		 padding-left: 20px;
	}
	.__pf .pf-d6f4c994 {
		background-size: cover;
		 background-repeat: no-repeat;
		 padding-left: 0px;
		 background-image: url("https://cdn.shopify.com/s/files/1/0566/2453/t/49/assets/pf-8641dfa3-c662-4f73-a0b3-9ba0451c9c9f--calflameoutdoorfireplacesfrp9083.jpg?2161");
	}
	.__pf .pf-2412f6b0 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-ebe3ff7b {
		height: 350px;
	}
	.__pf .pf-397055da {
		margin-bottom: 0px;
	}
	.__pf .pf-ee0c3cf9 {
		margin-bottom: 5px;
	}
	.__pf .pf-137c1d48 {
		padding-bottom: 0px;
		 padding-top: 0px;
	}
	.__pf .pf-75bf52fc {
		margin-bottom: 20px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-068cd7fb {
		background-image: url("https://cdn.shopify.com/s/files/1/0566/2453/t/47/assets/pf-a588632d-ee6d-4771-a4eb-115b1e2e90bc--e31001-Edited.jpg?2037");
	}
	.__pf .pf-deae31a3 {
		background-image: url("https://cdn.shopify.com/s/files/1/0566/2453/t/47/assets/pf-cde55db4-c645-4dc7-80e2-ae11d129e39d--calflameoutdoorfireplacesfrp9083.jpg?2127");
	}
	.__pf .pf-080d45e9 {
		background-image: url("https://cdn.shopify.com/s/files/1/0566/2453/t/47/assets/pf-a99bd432-4313-4e3a-a6a4-fb2dc161400c--MUSK2BZSquareProdstrembrstzwindscreenflames800px.png?2135");
	}
	.__pf .pf-7c30ccc9 {
		background-image: url("https://cdn.shopify.com/s/files/1/0566/2453/t/47/assets/pf-d673655d-b609-417c-875f-7982a3398131--Galaxy48GSS48ProdStrGlassBeadsTtrimflames800px.png?2139");
	}
	.__pf .pf-997af616 {
		background-image: url("https://cdn.shopify.com/s/files/1/0566/2453/t/49/assets/pf-61cd6b9b-2d2c-4150-82ea-c4c9aceb1e8c--carolroseoutdoor60lineargasfireplace1.jpg?2163");
	}
	.__pf .pf-d6f4c994 {
		background-image: url("https://cdn.shopify.com/s/files/1/0566/2453/t/49/assets/pf-8641dfa3-c662-4f73-a0b3-9ba0451c9c9f--calflameoutdoorfireplacesfrp9083.jpg?2161");
	}
	.__pf .pf-ebe3ff7b {
		height: 380px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-068cd7fb {
		background-image: url("https://cdn.shopify.com/s/files/1/0566/2453/t/47/assets/pf-a588632d-ee6d-4771-a4eb-115b1e2e90bc--e31001-Edited.jpg?2037");
		 padding-left: 50px;
		 padding-right: 50px;
	}
	.__pf .pf-3809f3bf {
		padding-top: 0px;
	}
	.__pf .pf-deae31a3 {
		background-image: url("https://cdn.shopify.com/s/files/1/0566/2453/t/47/assets/pf-cde55db4-c645-4dc7-80e2-ae11d129e39d--calflameoutdoorfireplacesfrp9083.jpg?2127");
	}
	.__pf .pf-080d45e9 {
		background-image: url("https://cdn.shopify.com/s/files/1/0566/2453/t/47/assets/pf-a99bd432-4313-4e3a-a6a4-fb2dc161400c--MUSK2BZSquareProdstrembrstzwindscreenflames800px.png?2135");
	}
	.__pf .pf-7c30ccc9 {
		background-image: url("https://cdn.shopify.com/s/files/1/0566/2453/t/47/assets/pf-d673655d-b609-417c-875f-7982a3398131--Galaxy48GSS48ProdStrGlassBeadsTtrimflames800px.png?2139");
	}
	.__pf .pf-b750b445 {
		padding-left: 20px;
	}
	.__pf .pf-997af616 {
		background-repeat: no-repeat;
		 background-size: cover;
		 padding-left: 450px;
		 background-image: url("https://cdn.shopify.com/s/files/1/0566/2453/t/49/assets/pf-61cd6b9b-2d2c-4150-82ea-c4c9aceb1e8c--carolroseoutdoor60lineargasfireplace1.jpg?2163");
	}
	.__pf .pf-d6f4c994 {
		background-repeat: no-repeat;
		 background-size: cover;
		 background-image: url("https://cdn.shopify.com/s/files/1/0566/2453/t/49/assets/pf-8641dfa3-c662-4f73-a0b3-9ba0451c9c9f--calflameoutdoorfireplacesfrp9083.jpg?2161");
	}
	.__pf .pf-ebe3ff7b {
		height: 350px;
	}
	.__pf .pf-14bd3f00 {
		margin-bottom: 10px;
	}
	.__pf .pf-dce05bdd {
		margin-bottom: 0px;
	}
	.__pf .pf-75bf52fc {
		text-align: center;
	}
}
						/* Extra CSS for lazy loading background image */
						.pf-bg-lazy { background-image: none !important; }

 